<div id="content_wrapper">
	<h1>This is the home page click on an article. any article</h1>
	<% @articles.each do |article| %>
		<a href="/articles/<%=article.id%>"><%=article.title%></a>
		<p> a <%=article.subject%> article by <%=article.author%></p>
	<% end %>

</div>







