<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css?app=skills">
  <link rel="stylesheet" href="/css/application.css?app=skills">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js?app=skills"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <title>Awesomeness in a Box</title>
</head>
<body>  

<a href="/"> HOME </a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <a href="/articles/1"> ARTICLE 1 (Widget this page!) </a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="/articles/1/votes"> VOTE RESULTS </a> 

  <%= yield %>
</body>
</html>
